.pageConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  padding-top: 40px;
}

.pageHeading {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-align: center;
}

.pageDescription {
  width: 80%;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  opacity: 0.7;
}

/* Mobile Styles (up to 768px) */
@media (max-width: 768px) {
  .pageConatiner {
    height: auto;
  }
  .pageHeading {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .pageDescription {
    font-size: 16px;
  }
}

/* Tablet Styles (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .pageConatiner {
    height: auto;
  }
  .pageHeading {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .pageDescription {
    font-size: 18px;
  }
}
